.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "banner banner"
        "sidebar main";
}

body {
    margin: 0; /* Removes default body margin */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/* Optional for font consistency */
}

#banner {
    background-color: rgb(95 237 120);
    grid-area: banner;
    color: black;
    padding: 1rem;
    border-bottom-style: solid;
    border-color: rgb(84, 190, 2);
    border-bottom-style: solid;
    border-color: rgb(84, 190, 2);
}

#sidebar {
    background-color: rgb(154, 255, 170);
    background-color: rgb(154, 255, 170);
    grid-area: sidebar;
    color: white;
    padding: 1rem;
    border-right-style: solid;
    border-color: rgb(84, 190, 2);
    border-right-style: solid;
    border-color: rgb(84, 190, 2);
}

button{
    display: block;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(253, 253, 247);
}

#listings:hover{
    background-color: blueviolet;
    color: rgb(253, 253, 247);
  }
  
      
    #users:hover{
    background-color: blueviolet;
    color: rgb(253, 253, 247);
  }
  
  #userLogin:hover{
    background-color: blueviolet;
    color: rgb(253, 253, 247);
  }
  
  #createAccount:hover{
    background-color: blueviolet;
    color: rgb(253, 253, 247);
  }
  

main {
    background-color: rgb(253, 253, 247);
    background-color: rgb(253, 253, 247);
    grid-area: main;
    padding: 1rem;
    overflow: scroll;
}

#head{
    text-align: center
}

#market {
    text-align: center
}

@media (max-width: 500px){

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas:
            "sidebar"
            "main";
    }

    #banner{
        display: none;
    }

    #market{
        display: block;
    }

    button{
        width: auto;
        display: inline;
    }

    #sidebar{
        border-bottom-style: solid;
        border-color: rgb(84, 190, 2);
    }

}

img{
    max-width: 400px;
    min-width: 400px;
    display: inline;
}

#images{
    width: 1000px;
    height: 400px;
    overflow: auto;
    overflow-y: hidden;
    /* margin: 0 auto; */
    white-space: nowrap;
}

a {
    text-decoration: none;
  }


  #img2  {
    mix-blend-mode: multiply;
    width: 350px; 
  position: relative;
bottom: 100px;
  top: -50px
  }

  #img {
            
    mix-blend-mode: multiply;
    height: 300px;
        position: relative;
        
        
}
