

body {
  margin: 0; /* Removes default body margin */
  font-family: Arial, sans-serif; /* Optional for font consistency */
  background-color: #9affac;
}


main {
  background-color: rgb(39 208 75);
  grid-area: main;
  padding: 1rem;
  overflow: scroll;
}

h1 {
text-align: center;
}




  .container {
      
          background-color: rgb(209 233 212);
          width: 700px;
          border: 10px solid rgb(0, 0, 0);
          height: 900px;
          padding: 50px;
          margin: auto;
          position: relative;
          box-sizing: content-box;
          overflow: auto;
        

  }

  .containerTwo {
    border: #000;

    width: 550px;

    height: 500px;

    padding: 50px;

    margin: auto;

    position: relative;

    border-style: solid;

    box-sizing: content-box;

    overflow: auto;
  }

  img {

      mix-blend-mode: multiply;

  }

#h1 {

  position: absolute;
  top: 90px;
  left: 210px;
  font-size: 35px;
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  
}

#h2 {

  margin-bottom: 90px;
  
}

#h3 {

  margin-bottom: 90px;

}

#h4 {

  margin-bottom: 90px;

}

#h5 {

  margin-bottom: 90px;

}

#h6 {

  margin-bottom: 59px;

}


#h2, #h3, #h4, #h5, #h6 {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  background-color: #5ee877;
  font-size: 22px;
  

}

.navigation {

border: 5;
background-color: #57f34a;
border-style:solid;
border-color: black;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align:center; 
}

.navigation li {
list-style-type: none;
font-size: 18px;
margin-left: 0px;
margin-bottom: 25px;
display: block;
margin: 0;
margin: 0 1em 0 0;
}

a:link {
color:#052a57
}



a:hover{
color:gray;
text-decoration: none;
}

.navigation a {
color: #000;
padding: 5px;
text-decoration: none;
border: 2px solid #4d4d47;
border-radius: 3px;
  display: block;
  padding: .7em 1.25em .7em 1.25em;
  color: #454242;
  text-decoration: none;
padding: 0;
}

.navigation a:hover {
background-color: #36873e;
color: #000000;
}

a:active {
color: #9c9c9c;
}



