body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#login{
    display:block;
}
input,
textarea {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}
textarea {
    height: 10em;
}
fieldset{
    margin: 4em;
    padding: 1em;
}

#hidUsername{
    display: none;
    color: red;
}
#hidPwd{
    display: none;
    color: red;
}
#shortPwd{
    display: none;
    color: red;
}
img{
    align-content: center;
}

#error-message{
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
    margin: 0.5em 0 1em 0;
}